@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

body {
    font-weight: 400;
    font-size: 18px;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    text-align: center;
    margin-top: 5px;
}

.title { 
    text-align: center;
    margin-top: 25px;
    font-size: 42px;
    font-weight: 700;
    text-shadow: rgb(255,255,255) 0px 0px 32px;
}

.info-text {
    padding: 20px 20px;
    font-size: 18px;
}

.footer {
    position: absolute;
    bottom: 0;
}

.center-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bg-black {
    background-color: black;
}